/*
    ======================================
    + 404 Style CSS
    @ Team. PLAYWORLD 2024. 08. 02.
    ======================================
*/

/* Section 1 : Contents */
.section-contents {
    width: 100%;
    height: 100vh;
    background: url(/static/images/svg/404_background.svg) center no-repeat;
    background-size: cover;
    z-index: 1;
}

.contents__back-home-button {
    width: 250px;
    height: 48px;
    margin-bottom: 30px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 16.5px;
    color: #4c4c4c;
    font-size: 1.15rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
}

.contents__back-home-button:hover {
    width: 300px;
    border-radius: 10px;
}

.contents__back-home-button > img {
    width: 1.2rem;
    margin-right: 2%;
}

.contents__title {
    position: relative;
    font-weight: 800;
    font-size: 2.6rem;
    margin-bottom: 30px;
}

.contents__title::after {
    content: '';
    position: absolute;
    bottom: 5.5%;
    left: 0;
    width: 100%;
    height: 27%;
    background-color: var(--default-blue-light);
    z-index: -1;
}

.contents__description {
    color: var(--default-gray);
    font-size: 1.3rem;
    font-weight: 600;
}

.contents__error-code {
    margin-top: 30px;
    color: var(--default-gray);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
}
/* // Section 1 : Contents */