/*
    ======================================
    + Home Style CSS
    @ Team. PLAYWORLD 2024. 07. 29.
    ======================================
*/

/* PC (Default) */
/* Section 1 : Intro */
.section-intro {
    width: 100%;
    height: 100vh;
    background: url(/static/images/svg/home_background.svg) center no-repeat fixed;
    background-size: 185%;
}

.intro__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.intro__slogan {
    position: relative;
    top: -2.5%;
    text-align: center;
    font-weight: 700;
    font-size: 6rem;
}

.intro__slogan::after {
    content: '';
    position: absolute;
    bottom: 5.5%;
    left: 0;
    width: 100%;
    height: 27%;
    background-color: var(--default-blue);
    z-index: -1;
}

.intro__description {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.intro__description-bottom {
    position: relative;
    top: 80%;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.intro__description-bottom::after {
    content: '';
    position: absolute;
    bottom: 5.5%;
    left: 0;
    width: 100%;
    height: 27%;
    background-color: var(--default-blue-light);
    z-index: -1;
}
/* // Section 1 : Intro */

/* Section 2 : Contents - About */
.section-contents__about {
    width: 100%;
    height: 70vh;
}

.about__wrap {
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.about__title {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

.about__title::after {
    content: '';
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: var(--default-blue-light);
    z-index: -1;
}

.about__description {
    margin: 2% 0 4% 0;
    font-size: 1.4rem;
    font-weight: 700;
}

.about__button {
    width: 25%;
    height: 50px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
}

.about__button:hover {
    border: 2px solid var(--default-blue);
    color: var(--default-blue);
    border-radius: 15px;
}

.about__button > span {
    transition: all 0.5s;
}

.about__button:hover > span {
    color: var(--default-blue);
    margin-left: 1.5%;
}
/* // Section 2 : Contents - About */

/* Section 3 : Contents - Informations */
.section-contents__info {
    display: table;
    width: 100%;
}

.info__news-wrap {
    width: 85%;
}

.info__news-title {
    position: relative;
    margin-bottom: 3%;
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.info__news-title::after {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: var(--default-blue-light);
    z-index: -1;
}

.info__news-arrange {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.info__news-contents-link {
    width: 30%;
}

.info__news-contents {
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 250px;
    background: #fff center no-repeat;
    background-size: cover;
    box-shadow: 0 0 25px rgba(0, 0, 0, 25%);
    transform: scale(1.0);
    transition: all 0.5s;
}

.info__news-contents:hover {
    transform: scale(1.03);
}

.news-contents__text-wrap {
    justify-content: center;
    width: 92.5%;
    height: 22.5%;
    background: var(--default-blue);
    margin-bottom: 5%;
}

.news-contents__title {
    width: 95%;
    margin-left: 5%;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-contents__description {
    width: 95%;
    margin-left: 5%;
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info__videos-wrap {
    width: 85%;
    margin-top: 10%;
}

.info__videos-title {
    position: relative;
    margin-bottom: 3%;
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.info__videos-title::after {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: var(--default-blue-light);
    z-index: -1;
}

.info__videos-arrange {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.info__videos-contents-link {
    width: 30%;
}

.info__videos-contents {
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 250px;
    background: #fff center no-repeat;
    background-size: cover;
    box-shadow: 0 0 25px rgba(0, 0, 0, 25%);
    transform: scale(1.0);
    transition: all 0.5s;
}

.info__videos-contents:hover {
    transform: scale(1.03);
}

.videos-contents__text-wrap {
    justify-content: center;
    width: 92.5%;
    height: 22.5%;
    background: var(--default-blue);
    margin-bottom: 5%;
}

.videos-contents__title {
    width: 95%;
    margin-left: 5%;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* News & Videos Contents Picture*/
.news1 {
    background: url('/static/images/png/news/TEAMPLAYWORLD_2024_NEWS_BASE.png');
    background-size: cover;
}

.news2 {
    background: url('/static/images/png/news/TEAMPLAYWORLD_2024_NEWS_BASE.png');
    background-size: cover;
}

.news3 {
    background: url('/static/images/png/news/TEAMPLAYWORLD_2024_NEWS_BASE.png');
    background-size: cover;
}

.video1 {
    background: url('/static/images/png/videos/video1.png');
    background-size: cover;
}

.video2 {
    background: url('/static/images/png/videos/video2.png');
    background-size: cover;
}

.video3 {
    background: url('/');
    background-size: cover;
}
/* // News & Videos Contents Picture*/
/* // Section 3 : Contents - Informations */
/* // PC (Default) */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    /* Section 1 : Intro */
    .section-intro {
        height: 100vh;
        background-size: cover;
    }

    .intro__title {
        margin-bottom: 2.5%;
        font-size: 1rem;
    }

    .intro__description {
        margin-top: 2.5%;
        font-size: 1rem;
    }

    .intro__slogan {
        font-size: 3.25rem;
    }

    .intro__description-bottom {
        top: 120%;
        font-size: 0.95rem;
    }
    /* // Section 1 : Intro */

    /* Section 2 : Contents - About */
    .section-contents__about {
        height: 65vh;
    }

    .about__title {
        font-size: 2.1rem;
    }

    .about__description {
        margin: 5% 0 10.5% 0;
        font-weight: 500;
        font-size: 1rem;
    }

    .about__description br {
        display: none;
    }

    .about__button {
        width: 70%;
        height: 35px;
        border: 1px solid #000;
        font-size: 1rem;
    }

    .about__button:hover {
        width: 70%;
        border: 1px solid var(--default-blue);
    }

    .about__button:hover > span {
        margin-left: 2.5%;
    }
    /* // Section 2 : Contents - About */

    /* Section 3 : Contents - Informations */
    .section-contents__info {
        display: table;
        width: 100%;
    }

    .info__news-title,
    .info__videos-title {
        font-size: 2.5rem;
        margin-bottom: 6.5%;
    }

    .info__news-arrange,
    .info__videos-arrange {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .info__news-contents-link,
    .info__videos-contents-link {
        width: 90%;
    }

    .info__news-contents-link:not(:last-child),
    .info__videos-contents-link:not(:last-child) {
        margin-bottom: 12.5%;
    }

    .info__news-contents,
    .info__videos-contents {
        box-shadow: 0 0 15px rgba(0, 0, 0, 25%);
        height: 200px;
    }

    .news-contents__text-wrap,
    .videos-contents__text-wrap {
        margin-bottom: 10%;
    }

    .news-contents__title,
    .videos-contents__title {
        width: 92.5%;
        font-size: 1rem;
    }

    .news-contents__description {
        width: 92.5%;
        font-size: 0.8rem;
    }

    .info__videos-wrap {
        margin-top: 18%;
    }
    /* // Section 3 : Contents - Informations */
}
/* // Mobile */
