/*
    ======================================
    + Members Style CSS
    @ Team. PLAYWORLD 2024. 07. 29.
    ======================================
*/

/* PC (Default) */
/* Body Background */
body {
    background: url(/static/images/svg/members_background.svg) center no-repeat fixed;
    background-size: cover;
}
/* // Body Background */

/* Section 1 : Intro */
.section-intro {
    width: 100%;
    height: 100vh;
}

.intro__wrap {
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.intro__text-wrap {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.intro__title {
    position: relative;
    font-weight: 800;
    font-size: 3.5rem;
}

.intro__title:nth-child(2) {
    margin-top: 1.5%;
}

.intro__title::after {
    content: '';
    position: absolute;
    bottom: 5.5%;
    left: 0;
    width: 100%;
    height: 27%;
    background-color: var(--default-blue);
    z-index: -1;
}

.intro__description {
    margin-top: 1.5%;
    font-weight: 600;
    font-size: 1.5rem;
}
/* // Section 1 : Intro */

/* Section 2 : Contents - Members */
.section-contents__members {
    display: table;
    width: 100%;
}

.members__arrange {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.members__contents {
    flex: 0 0 250px;
    box-sizing: border-box;
    width: 225px;
    height: 300px;
    margin: 2.5%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 25%);
    border-radius: 39px 39px 40px 0;
}

/* .members__contents.none {
    visibility: hidden;
    opacity: 0;
} */

.members__contents.hidden {
    display: none;
}

.members__contents-profile {
    width: 100%;
    height: 240px;
    background: #fff;
    background-size: cover;
    border-radius: 39px 39px 0 0;
}

.members__contents-info-wrap {
    justify-content: space-evenly;
    align-items: center;
    height: 74.5px;
    background: var(--default-blue);
    border-radius: 0 0 40px 0;
}

.members__contents-name {
    width: 65%;
    color: #fff;
    font-weight: 600;
    font-size: 1.35rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.members__contents-link {
    width: 10%;
    transform: scale(1.0);
    transition: all 0.5s;
}

.members__contents-link:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 15%);
    transform: scale(1.05);
}

.members__contents-link-icon.none {
    display: none;
    visibility: hidden;
    opacity: 0;
}

/* Member Profile Pictures */
.member1 {
    background: url('/static/images/png/profiles/geonbbang.png');
    background-size: cover;
}

.member2 {
    background: url('/static/images/png/profiles/remojjing.png');
    background-size: cover;
}

.member3 {
    background: url('/static/images/png/profiles/lomun.png');
    background-size: cover;
}

.member4 {
    background: url('/static/images/png/profiles/youbug.png');
    background-size: cover;
}

.member5 {
    background: url('/static/images/png/profiles/ehover.png');
    background-size: cover;
}

.member6 {
    background: url('/static/images/png/profiles/thrmadla.png');
    background-size: cover;
}

.member7 {
    background: url('/static/images/png/profiles/teoh.png');
    background-size: cover;
}

.member8 {
    background: url('/static/images/png/profiles/randy.png');
    background-size: cover;
}

.member9 {
    background: url('/static/images/png/profiles/tofu.png');
    background-size: cover;
}

.member10 {
    background: url('/static/images/png/profiles/dyshin.png');
    background-size: cover;
}

.member11 {
    background: url('/static/images/png/profiles/gamgyul.png');
    background-size: cover;
}

.member12 {
    background: url('/static/images/png/profiles/jonghyun.png');
    background-size: cover;
}

.member13 {
    background: url('/static/images/png/profiles/iron.png');
    background-size: cover;
}

.member14 {
    background: url('/static/images/png/profiles/choi.png');
    background-size: cover;
}

.member15 {
    background: url('/static/images/png/profiles/bbiyakseu.png');
    background-size: cover;
}

.member16 {
    background: url('/static/images/png/profiles/ogakphone.png');
    background-size: cover;
}

.member17 {
    background: url('/static/images/png/profiles/yeongjae.png');
    background-size: cover;
}
/* // Member Profile Pictures */

.pagination {
    margin-top: 2.5%;
    text-align: center;
}

.pagination a {
    margin: 0 10px;
    font-size: 1.35rem;
    font-weight: 500;
}

.pagination a.active {
    color: #787878;
    font-weight: 700;
}
/* // Section 2 : Contents - Members */
/* // PC (Default) */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    /* Body Background */
    body {
        background: url('/static/images/svg/members_mobile_background.svg') center no-repeat fixed;
        background-size: 180%;
    }
    /* // Body Background */

    /* Section 1 : Intro */
    .intro__wrap {
        width: 80%;
    }

    .intro__title {
        font-weight: 900;
        font-size: 1.95rem;
    }

    .intro__description {
        margin-top: 5%;
        font-weight: 500;
        font-size: 0.95rem;
    }
    /* // Section 1 : Intro */

    /* Section 2 : Contents - Members */
    .members__contents {
        flex: unset;
        margin-bottom: 20%;
    }
    /* // Section 2 : Contents - Members */
}
/* // Mobile */