/*
    ======================================
    + Members Style CSS
    @ Team. PLAYWORLD 2024. 07. 29.
    ======================================
*/

/* PC (Default) */
/* Body Background */
body {
    background: url(/static/images/svg/members_background.svg) center no-repeat fixed;
    background-size: cover;
}
/* // Body Background */

/* Section 1 : Intro */
.section-intro {
    width: 100%;
    height: 100vh;
}

.intro__wrap {
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.intro__text-wrap {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.intro__title {
    position: relative;
    font-weight: 800;
    font-size: 3.5rem;
}

.intro__title:nth-child(2) {
    margin-top: 1.5%;
}

.intro__title::after {
    content: '';
    position: absolute;
    bottom: 5.5%;
    left: 0;
    width: 100%;
    height: 27%;
    background-color: var(--default-blue);
    z-index: -1;
}

.intro__description {
    margin-top: 1.5%;
    font-weight: 600;
    font-size: 1.5rem;
}
/* // Section 1 : Intro */

/* Section 2 : Contents - Members */
.section-contents__members {
    display: table;
    width: 100%;
}

.members__filter-wrap {
    width: 72.5%;
    justify-content: flex-start;
}

.members__filter-dropdown {
    position: relative;
    display: inline-block;
}

.members__filter-dropdown-btn {
    width: 120px;
    height: 48px;
    background-color: var(--default-blue);
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 15px 15px 0 0;
}

.members__filter-dropdown-btn:hover {
    background-color: var(--default-blue-hover);
}

.dropdown-active {
    visibility: visible;
    opacity: 1;
}

.dropdown-inactive {
    visibility: hidden;
    opacity: 0;
}

.members__filter-dropdown-contents-wrap {
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 25%);
    z-index: 1;
    transition: all 0.5s;
    border-radius: 0 15px 15px 15px;
}

.members__filter-dropdown-contents {
    align-items: center;
    color: #000 !important;
    height: 45px;
}

.members__filter-dropdown-contents p {
    margin-left: 8%;
}

.members__filter-dropdown-contents:hover {
    background: #ddd;
}

.members__filter-check {
    margin-left: 1%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--default-geonbbang-blue);
}

.members__filter-count-items {
    margin-left: 0.4%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--default-geonbbang-blue);
}

.members__arrange {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.members__contents {
    flex: 0 0 250px;
    box-sizing: border-box;
    width: 225px;
    height: 300px;
    margin: 2.5%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 25%);
    border-radius: 39px 39px 40px 0;
}

/* .members__contents.none {
    visibility: hidden;
    opacity: 0;
} */

.members__contents.hidden {
    display: none;
}

.members__contents-profile {
    width: 100%;
    height: 240px;
    background: #fff;
    background-size: cover;
    border-radius: 39px 39px 0 0;
}

.members__contents-info-wrap {
    justify-content: space-evenly;
    align-items: center;
    height: 74.5px;
    background: var(--default-blue);
    border-radius: 0 0 40px 0;
}

.members__contents-details{
    width: 65%;
}

.members__contents-name {
    position: relative;
    margin-bottom: 0.5%;
    color: #fff;
    font-weight: 600;
    font-size: 1.35rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s;
}

.members__contents-count-subscribers {
    height: 0;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: all 0.5s;
}

.members__contents-link {
    width: 10%;
    transform: scale(1.0);
    transition: all 0.5s;
}

.members__contents-link:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 15%);
    transform: scale(1.05);
}

.members__contents-link-icon.none {
    display: none;
    visibility: hidden;
    opacity: 0;
}

/* Member Profile Pictures */
.members__contents-profile.member1 {
    background: url('/static/images/png/profiles/geonbbang.png');
    background-size: cover;
}

.members__contents-profile.member2 {
    background: url('/static/images/png/profiles/remojjing.png');
    background-size: cover;
}

.members__contents-profile.member3 {
    background: url('/static/images/png/profiles/lomun.png');
    background-size: cover;
}

.members__contents-profile.member4 {
    background: url('/static/images/png/profiles/youbug.png');
    background-size: cover;
}

.members__contents-profile.member5 {
    background: url('/static/images/png/profiles/ehover.png');
    background-size: cover;
}

.members__contents-profile.member6 {
    background: url('/static/images/png/profiles/thrmadla.png');
    background-size: cover;
}

.members__contents-profile.member7 {
    background: url('/static/images/png/profiles/teoh.png');
    background-size: cover;
}

.members__contents-profile.member8 {
    background: url('/static/images/png/profiles/randy.png');
    background-size: cover;
}

.members__contents-profile.member9 {
    background: url('/static/images/png/profiles/tofu.png');
    background-size: cover;
}

.members__contents-profile.member10 {
    background: url('/static/images/png/profiles/dyshin.png');
    background-size: cover;
}

.members__contents-profile.member11 {
    background: url('/static/images/png/profiles/gamgyul.png');
    background-size: cover;
}

.members__contents-profile.member12 {
    background: url('/static/images/png/profiles/jonghyun.png');
    background-size: cover;
}

.members__contents-profile.member13 {
    background: url('/static/images/png/profiles/iron.png');
    background-size: cover;
}

.members__contents-profile.member14 {
    background: url('/static/images/png/profiles/choi.png');
    background-size: cover;
}

.members__contents-profile.member15 {
    background: url('/static/images/png/profiles/bbiyakseu.png');
    background-size: cover;
}

.members__contents-profile.member16 {
    background: url('/static/images/png/profiles/ogakphone.png');
    background-size: cover;
}

.members__contents-profile.member17 {
    background: url('/static/images/png/profiles/yeongjae.png');
    background-size: cover;
}

.members__contents-profile.member18 {
    background: url('/static/images/png/profiles/nuelsoh.png');
    background-size: cover;
}

.members__contents-profile.member19 {
    background: url('/static/images/png/profiles/hyeon.png');
    background-size: cover;
}

.members__contents-profile.member20 {
    background: url('/static/images/png/profiles/kading.png');
    background-size: cover;
}

.no-profile-img {
    background: url('/static/images/png/profiles/NOPROFILE.png');
    background-size: cover;
}
/* // Member Profile Pictures */

.pagination {
    margin-top: 2.5%;
    text-align: center;
}

.pagination a {
    margin: 0 10px;
    font-size: 1.35rem;
    font-weight: 500;
}

.pagination a.active {
    color: #787878;
    font-weight: 700;
}
/* // Section 2 : Contents - Members */
/* // PC (Default) */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    /* Body Background */
    body {
        background: url('/static/images/svg/members_mobile_background.svg') center no-repeat fixed;
        background-size: cover;
    }
    /* // Body Background */

    /* Section 1 : Intro */
    .intro__wrap {
        width: 80%;
    }

    .intro__title {
        font-weight: 900;
        font-size: 1.95rem;
    }

    .intro__description {
        margin-top: 5%;
        font-weight: 500;
        font-size: 0.95rem;
    }
    /* // Section 1 : Intro */

    /* Section 2 : Contents - Members */
    .members__filter-wrap {
        justify-content: center;
        align-items: center;
        margin-bottom: 6%;
    }

    .members__filter-dropdown-btn {
        width: 95px;
        height: 38px;
        font-size: 1rem;
    }

    .members__filter-dropdown-contents-wrap {
        width: 140px;
    }

    .members__filter-dropdown-contents {
        height: 40px;
    }

    .members__filter-dropdown-contents p {
        font-size: 0.9rem;
    }

    .members__filter-check {
        margin-left: 3%;
        font-size: 1rem;
    }
    
    .members__filter-count-items {
        margin-left: 1.5%;
        font-size: 1rem;
    }

    .members__contents {
        flex: unset;
        margin-bottom: 20%;
    }
    /* // Section 2 : Contents - Members */
}
/* // Mobile */